.menu-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 7px 10px;
  background: #333;
  border: none;
  border-radius: 0;
  cursor: pointer;
  z-index: 3; }
  .menu-btn img {
    width: 30px; }

.top-wrap {
  position: relative;
  height: 400px; }
  .top-wrap .background {
    height: 380px;
    background: #f2f2f2;
    color: #f37931; }
    .top-wrap .background .words {
      position: absolute;
      top: 190px;
      left: 30px; }
      .top-wrap .background .words .en {
        margin: 0;
        font-size: 36px;
        font-weight: 900; }
        .top-wrap .background .words .en p {
          margin: 0; }
      .top-wrap .background .words .ko {
        font-family: 'NanumSquareRound';
        font-size: 28px;
        font-weight: 600; }
      .top-wrap .background .words a {
        font-family: 'Bubbler One';
        font-weight: 600;
        display: inline-block;
        margin: 10px 5px;
        color: #f37931;
        text-decoration: none; }

.post-wrap {
  margin: 15px 10%; }
  .post-wrap .posts {
    font-family: "NanumSquareRound";
    padding: 50px 0;
    border-bottom: 1px solid #ddd; }
    .post-wrap .posts:nth-last-child(1) {
      border-bottom: none; }
    .post-wrap .posts .post-title {
      display: block;
      font-size: 24px;
      text-decoration: none;
      color: #000;
      font-weight: bold; }
    .post-wrap .posts .post-content {
      font-size: 16px;
      line-height: 1.5;
      font-weight: lighter;
      color: #666665; }
    .post-wrap .posts .post-date {
      font-size: 14px;
      color: #aed9da;
      line-height: 20px; }
