@import url(http://fonts.googleapis.com/css?family=Lato);
.container {
  width: 100% !important;
  overflow: hidden;
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  color: #3A3A3A;
  line-height: 30px;
  /* Post */
  /* Section/Article */
  /* Image */
  /* Code */
  /* markdown grammer `` block */
  /* Comment */
  /* Error */
  /* Generic */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Other */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}

.container section {
  width: 85%;
}

.container table {
  width: 100%;
}

.container table th {
  border-bottom: 2px solid #9a9a9a;
}

.container table td {
  border-bottom: 1px solid #9a9a9a;
}

.container a {
  color: #9a9a9a;
}

.container h1 {
  font-size: 42px;
  color: #00CCFF;
}

.container h2, .container h3 {
  color: #FF9966;
}

.container h4 {
  color: #ABABAB;
}

.container .side-bar {
  background: #74AFAD;
  position: absolute;
  height: auto;
  width: 272px;
  color: #fff;
  transition: margin-left 0.5s;
}

.container .side-bar ul {
  list-style: none;
  padding: 0px;
}

.container .side-bar ul .menu-head {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 20px;
  height: 40px;
}

.container .side-bar ul .menu-head .bar-wrap {
  display: inline-block;
  cursor: pointer;
  float: right;
}

.container .side-bar ul .menu-head .bar1, .container .side-bar ul .menu-head .bar2, .container .side-bar ul .menu-head .bar3, .container .side-bar ul .menu-head .bar4 {
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin: 2px 0;
}

.container .side-bar ul .menu-head a {
  color: #fff;
  text-decoration: none;
  height: 50px;
}

.container .side-bar ul .menu-intro {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 20px;
  height: 350px;
}

.container .side-bar ul .menu-intro a {
  color: #fff;
}

.container .side-bar ul .menu li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  display: inline-table;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container .side-bar ul .menu li a:hover {
  border-left: 3px solid #ECECEA;
  padding-left: 17px;
}

.container .side-bar ul .menu li a.active {
  padding-left: 18px;
  background: #FF9966;
  border-left: 3px solid #ECECEA;
}

.container .side-bar ul .menu li a.active:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  border-left: 7px solid #FF9966;
  margin-top: -11px;
  margin-left: 250px;
}

.container .content {
  padding-left: 220px;
  transition: padding-left 0.5s;
}

.container .content .top-bar {
  background: #FF9966;
  width: 100%;
  height: 45px;
  line-height: 45px;
}

.container .content .top-bar .title {
  font-family: 'Bungee Hairline', 'Architects Daughter', 'Bubbler One';
  font-weight: bold;
  color: #fff;
  font-size: 22px;
  float: left;
  padding-left: 80px;
}

.container .content .top-bar .search {
  height: 45px;
  width: 240px;
  float: right;
  padding: 8px;
}

.container .content .top-bar .search .search-icon {
  width: 32px;
  height: 45px;
  color: #fff;
  font-size: 26px;
  padding-top: 2px;
  float: left;
}

.container .content .top-bar .search input[type=text] {
  width: 80px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #fff;
  background: #FF9966;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.container .content .top-bar .search input[type=text]:focus {
  width: 180px;
}

.container .content .main-wrap {
  width: 100%;
  height: auto;
  margin-top: 70px;
  margin-left: 120px;
}

.container .content .main-wrap .intro {
  width: 100%;
  height: 320px;
}

.container .content .main-wrap .upload-list {
  width: 100%;
  height: auto;
}

.container .active > .side-bar {
  margin-left: -220px;
  transition: margin-left 0.5s;
}

.container .active > .content {
  padding-left: 50px;
  transition: padding-left 0.5s;
}

.container section.special, .container article.special {
  text-align: center;
}

.container footer {
  padding-bottom: 100px;
}

.container footer .float-left {
  float: left;
}

.container footer .float-right {
  float: right;
}

.container .main-img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.container .highlight {
  background-color: #FFFFC5;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  margin: 20px 0 20px 0;
  overflow: scroll;
}

.container code {
  font-family: 'Arial', 'Times New Roman', 'Courier', monospace;
  font-size: 18px;
}

.container .highlighter-rouge {
  background: #FF9966;
  color: #fff;
  border-radius: 3px;
}

.container .highlight .c {
  color: #9B7CC9;
}

.container .highlight .err {
  color: #93A1A1;
}

.container .highlight .g {
  color: #93A1A1;
}

.container .highlight .k {
  color: #859900;
}

.container .highlight .l {
  color: #93A1A1;
}

.container .highlight .n {
  color: #93A1A1;
}

.container .highlight .o {
  color: #859900;
}

.container .highlight .x {
  color: #CB4B16;
}

.container .highlight .p {
  color: #93A1A1;
}

.container .highlight .cm {
  color: #586E75;
}

.container .highlight .cp {
  color: #859900;
}

.container .highlight .c1 {
  color: #586E75;
}

.container .highlight .cs {
  color: #859900;
}

.container .highlight .gd {
  color: #2AA198;
}

.container .highlight .ge {
  color: #93A1A1;
  font-style: italic;
}

.container .highlight .gr {
  color: #DC322F;
}

.container .highlight .gh {
  color: #CB4B16;
}

.container .highlight .gi {
  color: #859900;
}

.container .highlight .go {
  color: #93A1A1;
}

.container .highlight .gp {
  color: #93A1A1;
}

.container .highlight .gs {
  color: #93A1A1;
  font-weight: bold;
}

.container .highlight .gu {
  color: #CB4B16;
}

.container .highlight .gt {
  color: #93A1A1;
}

.container .highlight .kc {
  color: #CB4B16;
}

.container .highlight .kd {
  color: #268BD2;
}

.container .highlight .kn {
  color: #859900;
}

.container .highlight .kp {
  color: #859900;
}

.container .highlight .kr {
  color: #268BD2;
}

.container .highlight .kt {
  color: #DC322F;
}

.container .highlight .ld {
  color: #93A1A1;
}

.container .highlight .m {
  color: #2AA198;
}

.container .highlight .s {
  color: #2AA198;
}

.container .highlight .na {
  color: #93A1A1;
}

.container .highlight .nb {
  color: #B58900;
}

.container .highlight .nc {
  color: #268BD2;
}

.container .highlight .no {
  color: #CB4B16;
}

.container .highlight .nd {
  color: #268BD2;
}

.container .highlight .ni {
  color: #CB4B16;
}

.container .highlight .ne {
  color: #CB4B16;
}

.container .highlight .nf {
  color: #268BD2;
}

.container .highlight .nl {
  color: #93A1A1;
}

.container .highlight .nn {
  color: #93A1A1;
}

.container .highlight .nx {
  color: #555;
}

.container .highlight .py {
  color: #93A1A1;
}

.container .highlight .nt {
  color: #268BD2;
}

.container .highlight .nv {
  color: #268BD2;
}

.container .highlight .ow {
  color: #859900;
}

.container .highlight .w {
  color: #93A1A1;
}

.container .highlight .mf {
  color: #2AA198;
}

.container .highlight .mh {
  color: #2AA198;
}

.container .highlight .mi {
  color: #2AA198;
}

.container .highlight .mo {
  color: #2AA198;
}

.container .highlight .sb {
  color: #586E75;
}

.container .highlight .sc {
  color: #2AA198;
}

.container .highlight .sd {
  color: #93A1A1;
}

.container .highlight .s2 {
  color: #2AA198;
}

.container .highlight .se {
  color: #CB4B16;
}

.container .highlight .sh {
  color: #93A1A1;
}

.container .highlight .si {
  color: #2AA198;
}

.container .highlight .sx {
  color: #2AA198;
}

.container .highlight .sr {
  color: #DC322F;
}

.container .highlight .s1 {
  color: #2AA198;
}

.container .highlight .ss {
  color: #2AA198;
}

.container .highlight .bp {
  color: #268BD2;
}

.container .highlight .vc {
  color: #268BD2;
}

.container .highlight .vg {
  color: #268BD2;
}

.container .highlight .vi {
  color: #268BD2;
}

.container .highlight .il {
  color: #2AA198;
}
