.menu-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 7px 10px;
  background: #333;
  border: none;
  border-radius: 0;
  cursor: pointer;
  z-index: 3;

  img {
    width: 30px;
  }
}

.top-wrap {
  position: relative;
  height: 450px;

  .background {
    height: 380px;
    padding-top: calc(50%/1000*100%);
    background: url('/images/mac_bg.jpg') center center / cover no-repeat;
  }

  .photo {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 320px;
    right: 50%;
    margin-right: -60px;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 99;
    background: #333;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    text-align: center;

    img {
      width: 80px;
      margin-top: 20px;
    }
  }
}

.desc {
  text-align: center;
  color: #8d8d8d;

  h1 {
    color: #333;
    font-family: 'Patrick Hand SC';
    margin: 5px;
    font-size: 34px;
  }

  h3 {
    color: #666;
    font-family: 'Nanumbarunpen';
    margin: 10px 0 15px 0;
  }

  .icons {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #666;
    text-decoration: none;
  }
}

.post-wrap {
  margin: 50px 10%;

  .posts {
    padding: 35px 0;
    border-bottom: 1px solid #ddd;

    &:nth-last-child(1) {
      border-bottom: none;
    }

    .post-title {
      display: block;
      font-size: 24px;
      text-decoration: none;
      color: #000;
    }

    .post-content {
      font-family: "Nanumbarunpen";
      font-weight: 100px;
      font-style: normal;
      font-size: 17px;
      line-height: 1.5;
      color: #666665;
    }

    .post-date {
      font-size: 14px;
      color: #aed9da;
      line-height: 30px;
    }
  }
}
