---
layout: default
pagination:
  enabled: true
---

<section class="post-wrap">
  {% for post in paginator.posts %}
  <article class="posts">
    <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    <p class="post-content">{{ post.content | strip_html | truncate: "250" }}</p>
    <small class="post-date">{{ post.date | date_to_string }}</small>
  </article>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a class="cusInnerPage" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
    {% else %}
    <span class="cusInnerPage">&laquo;</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em class="cusInnerPage" style="background: #cc99cc; color: #fafafa; border-radius: 100%;">{{ page }}</em>
    {% elsif page == 1 %}
    <a class="cusInnerPage" href="/">{{ page }}</a>
    {% else %}
    <a class="cusInnerPage" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a class="cusInnerPage" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
    {% else %}
    <span class="cusInnerPage" >&raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</section>
