---
layout: default
---

<div id="content" class="content">
  <!-- python -->
  <ul class="category-list">
    <li class="category-title">
      <a href="{{ site.baseurl }}/files/python/basic.html"><h3>파이썬 문법</h3></a>
      {% for post in site.categories.basic %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            - {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <ul class="category-list">
    <li class="category-title">
      <a href="{{ site.baseurl }}/files/python/library.html"><h3>파이썬 라이브러리</h3></a>
      {% for post in site.categories.library %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            - {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <!-- django -->
  <ul class="category-list">
    <li class="category-title">
      <a href="{{ site.baseurl }}/files/django/djangogirls.html"><h3>Do 장고걸스!</h3></a>
      {% for post in site.categories.djangogirls %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <ul class="category-list">
    <li class="category-title">
      <a href="{{ site.baseurl }}/files/django/travel.html"><h3>여행 블로그</h3></a>
      {% for post in site.categories.travel %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            - {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <ul class="category-list">
    <li class="category-title">
      <a href="{{ site.baseurl }}/files/django/instargram.html"><h3>인스타그램 프로젝트</h3></a>
      {% for post in site.categories.instargram %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <!-- <ul class="category-list">
    <li class="category-title">
      <a href="{{ site.baseurl }}/files/django/tutorial.html"><h3>장고 튜토리얼</h3></a>
      {% for post in site.categories.tutorial %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            - {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul> -->

  <!-- algorithm -->
  <ul class="category-list">
    <li class="category-title">
      <a href="{{ site.baseurl }}/files/algorithm/tryhelloworld.html"><h3>Solve Algorithm!</h3></a>
      {% for post in site.categories.tryhelloworld %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            - {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <!-- study -->
  <ul class="category-list">
    <li class="category-title">
      <a href="{{ site.baseurl }}/files/study/two-scoops.html"><h3>두숟갈 스터디</h3></a>
      {% for post in site.categories.two-scoops %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <!-- etc -->
  <ul class="category-list">
    <li class="category-title">
      <a href="{{ site.baseurl }}/files/etc/aws.html"><h3>아마존 웹 서비스</h3></a>
      {% for post in site.categories.aws %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            - {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <ul class="category-list">
    <li class="category-title">
      <a href="{{ site.baseurl }}/files/etc/mentoring.html"><h3>개발자 멘토링</h3></a>
      {% for post in site.categories.mentoring %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            - {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>
</div>
<div id="widget" class="widget">
  <div class="recent-post-title">
    <!-- <img src="images/rocket.png" width="27px"> -->
    최신 글 바로가기
  </div>
  {% for post in site.posts | limit:7 %}
  <div class="recent-posts">
    <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
      - {{ post.title }}
    </a>
  </div>
  {% endfor %}

  <div class="calendar">

  </div>
</div>
