---
layout: default
---
  <div class="empty"></div>

  <!-- python -->
  <ul class="category-list">
    <li>
      <a href="#" class="category-title"><h3>파이썬 문법</h3></a>
      {% for post in site.categories.basic %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <ul class="category-list">
    <li>
      <a href="#" class="category-title"><h3>파이썬 라이브러리</h3></a>
      {% for post in site.categories.library %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <!-- django -->
  <ul class="category-list">
    <li>
      <a href="#" class="category-title"><h3>Do 장고걸스!</h3></a>
      {% for post in site.categories.djangogirls %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <ul class="category-list">
    <li>
      <a href="#" class="category-title"><h3>여행 블로그</h3></a>
      {% for post in site.categories.travel %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <ul class="category-list">
    <li>
      <a href="#" class="category-title"><h3>인스타그램 프로젝트</h3></a>
      {% for post in site.categories.instargram %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <ul class="category-list">
    <li>
      <a href="#" class="category-title"><h3>장고 튜토리얼</h3></a>
      {% for post in site.categories.tutorial %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <!-- algorithm -->
  <ul class="category-list">
    <li>
      <a href="#" class="category-title"><h3>Solve Algorithm!</h3></a>
      {% for post in site.categories.tryhelloworld %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <!-- study -->
  <ul class="category-list">
    <li>
      <a href="#" class="category-title"><h3>두숟갈 스터디</h3></a>
      {% for post in site.categories.two-scoops %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <!-- etc -->
  <ul class="category-list">
    <li>
      <a href="#" class="category-title"><h3>아마존 웹 서비스</h3></a>
      {% for post in site.categories.aws %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>

  <ul class="category-list">
    <li>
      <a href="#" class="category-title"><h3>개발자 멘토링</h3></a>
      {% for post in site.categories.mentoring %}
      <ul class="tags-exop-posts">
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
      </ul>
      {% endfor %}
    </li>
  </ul>
