<div class="bg">
  <section class="top-wrap">
    <article class="logo">
      <a href="{{ site.baseurl }}/">bbungsang devlog</a>
    </article>
    <ul class="top-menu">
    </ul>
    <article class="btn-wrap">
      <i id="menuBtn" class="fa fa-bars"></i>
    </article>
  </section>
</div>

<script>
  const menuList = document.getElementsByClassName("menu-list")
  menuList.forEach((menu) => {
    menu.addEventListener("click", () => {
      const current = document.getElementsByClassName("active")
      current[0].className = current[0].className.replace("active", "")
      this.className += " active"
    })
  })
</script>
{% include side_nav.html %}
