<head>
	<title>뿡상의 개발새발 공책</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/etc.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- font -->
	<link href='https://fonts.googleapis.com/css?family=Architects Daughter' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Bungee Hairline' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Bubbler One' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/earlyaccess/nanumbrushscript.css?family=Nanum Brush Script' rel='stylesheet'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
