<section class="top-wrap">
  <article class="logo">
    <a href="{{ site.baseurl }}/">BBUNGSANG'S DEVLOG</a>
  </article>
  <i id="menuBtn" class="fa fa-bars"></i>
</section>

<script>
  const menuList = document.getElementsByClassName("menu-list")
  menuList.forEach((menu) => {
    menu.addEventListener("click", () => {
      const current = document.getElementsByClassName("active")
      current[0].className = current[0].className.replace("active", "")
      this.className += " active"
    })
  })
</script>
{% include side_nav.html %}
