<div id="mySidenav" class="sidenav">
  <div class="intro-me">
    <div class="my-photo">
      <img src="{{ site.baseurl }}/static/images/itsme.png">
    </div>
    <div class="my-content">
      Please contact me if you have any questions
      <p>- Elena.Kim -</p>
      <a href="{{ site.baseurl }}/" class="home">홈으로</a>
    </div>
  </div>
  <ul class="menu-ele">
    <li>
      <a href="{{ site.baseurl }}/files/database.html">
        <span class="bar-left"></span>
        데이터베이스
        <span class="bar-right"></span>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/files/algorithm.html">
        <span class="bar-left"></span>
        알고리즘
        <span class="bar-right"></span>
      </a>
    </li>
  </ul>
</div>

<script>
  function sideNavBtnClickHandler(e) {
    document.getElementById("mySidenav").style.right = "0px";
    e.stopPropagation();
  }

  document.getElementById("menuBtn").addEventListener(
    "click",
    sideNavBtnClickHandler
  );

  window.addEventListener("click", function () {
    var sidenav = document.getElementsByClassName("sidenav");

    for(var i=0; i<sidenav.length; i++){
      var closeSidenav = sidenav[i];
      closeSidenav.style.right = "-240px";
    }
  });
</script>
