---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
  $(".category-title").click(function(){
    if ($(this).next().css('display') === 'block'){
      $(this).next().slideUp()
      $(this).children().css("color", "#393939")
    }else{
      $(this).next().slideDown('slow')
      $(this).children().css("color", "#4acaa8")
    }
  })
</script>

<style>
  ul:first-child {
    list-style-type: none;
  }
  .category-title a {
    cursor: pointer;
  }

  .category-title .hide {
    display: none;
  }
</style>

<section>
  <div class="container">
      <div class="features">
        <ul>
          <li>
            <a href="#" class="category-title"><h3>Do 장고걸스!</h3></a>
            {% for post in site.categories.djangogirls %}
            <ul class="tags-exop-posts">
              <li>
                <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
                  {{ post.title }}
                  <small class="post-date">{{ post.date | date_to_string }}</small>
                </a>
              </li>
            </ul>
            {% endfor %}
          </li>
        </ul>
      </d
  </div>
</section>

{% include_relative travel.html %}
{% include_relative tutorial.html %}
