---
layout: default
---

<section class="list-container">
  <!-- djangogirls -->
  <p class="post-head">Do 장고걸스!</p>
  <ul class="post-list">
    {% for post in site.categories.djangogirls %}
    <li class="post-wrap">
      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        <h3 style="padding: 0; margin: 10px 0 10px 0;">{{ post.title }} | {{ post.date | date_to_string }}</h3>
      </a>
      <p class="post-content">
        {{ post.content | strip_html | truncatewords: 40 }}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more-btn">READ MORE</a>
      </p>
    </li>
    {% endfor %}
  </ul>

  <!-- instargram -->
  <p class="post-head">인스타그램</p>
  <ul class="post-list">
    {% for post in site.categories.instargram %}
    <li class="post-wrap">
      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        <h3 style="padding: 0; margin: 10px 0 10px 0;">{{ post.title }} | {{ post.date | date_to_string }}</h3>
      </a>
      <p class="post-content">
        {{ post.content | strip_html | truncatewords: 40 }}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more-btn">READ MORE</a>
      </p>
    </li>
    {% endfor %}
  </ul>

  <!-- askdjango -->
  <p class="post-head">[Ask Django] 여행 블로그</p>
  <ul class="post-list">
    {% for post in site.categories.travel %}
    <li class="post-wrap">
      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        <h3 style="padding: 0; margin: 10px 0 10px 0;">{{ post.title }} | {{ post.date | date_to_string }}</h3>
      </a>
      <p class="post-content">
        {{ post.content | strip_html | truncatewords: 40 }}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more-btn">READ MORE</a>
      </p>
    </li>
    {% endfor %}
  </ul>
</section>
