---
layout: default
---

<section class="list-container">
  <!-- 자바스크립트 코어 -->
  <p class="post-head">JavaScript Core</p>
  <ul class="post-list">
    {% for post in site.categories.javascript %}
    <li class="post-wrap">
      <p class="post-date">
        {{ post.date | date_to_string }}
      </p>
      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
      <div class="tag-wrap">
        {% if post %}
          {% assign tags = post.tags %}
        {% else %}
          {% assign tags = page.tags %}
        {% endif %}
        {% for tag in tags %}
          <a href="/tags/#{{tag|slugize}}">
            <img src="{{ site.baseurl }}/images/tag_img2.png">
            {{tag}}
          </a>
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>

  <!-- TypeScript -->
  <p class="post-head">TypeScript</p>
  <ul class="post-list">
    {% for post in site.categories.typescript %}
    <li class="post-wrap">
      <p class="post-date">
        {{ post.date | date_to_string }}
      </p>
      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
      <div class="tag-wrap">
        {% if post %}
          {% assign tags = post.tags %}
        {% else %}
          {% assign tags = page.tags %}
        {% endif %}
        {% for tag in tags %}
          <a href="/tags/#{{tag|slugize}}">
            <img src="{{ site.baseurl }}/images/tag_img2.png">
            {{tag}}
          </a>
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>

  <!-- Node.js -->
  <!-- <p class="post-head">Node.js</p>
  <ul class="post-list">
    {% for post in site.categories.nodejs %}
    <li class="post-wrap">
      <p class="post-date">
        {{ post.date | date_to_string }}
      </p>
      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
      <div class="tag-wrap">
        {% if post %}
          {% assign tags = post.tags %}
        {% else %}
          {% assign tags = page.tags %}
        {% endif %}
        {% for tag in tags %}
          <a href="/tags/#{{tag|slugize}}">
            <img src="{{ site.baseurl }}/images/tag_img2.png">
            {{tag}}
          </a>
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul> -->
</section>
