---
layout: default
---

<section class="list-container">
  <!-- 두숟갈 -->
  <p class="post-head">두숟갈 스터디</p>
  <ul class="post-list">
    {% for post in site.categories.two-scoops %}
    <li class="post-wrap">
      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        <h3 style="padding: 0; margin: 10px 0 10px 0;">{{ post.title }} | {{ post.date | date_to_string }}</h3>
      </a>
      <p class="post-content">
        {{ post.content | strip_html | truncatewords: 40 }}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more-btn">READ MORE</a>
      </p>
    </li>
    {% endfor %}
  </ul>

  <!-- DRF 스터디 -->
  <p class="post-head">DRF 스터디</p>
  <ul class="post-list">
    {% for post in site.categories.drf %}
    <li class="post-wrap">
      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        <h3 style="padding: 0; margin: 10px 0 10px 0;">{{ post.title }} | {{ post.date | date_to_string }}</h3>
      </a>
      <p class="post-content">
        {{ post.content | strip_html | truncatewords: 40 }}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more-btn">READ MORE</a>
      </p>
    </li>
    {% endfor %}
  </ul>
</section>
