<html>
{% include /head.html %}
<body>
  <div class="container">
    <div class="row">
      <!-- 사이드바 이동하게 해줌 -->
      <div class="wrapper">
        {% include /header.html %}
        <!-- Main -->
        <div class="content">
          <div class="top-bar"></div>

          <div class="main-wrap">
            <div class="left-wrap"></div>
            <div class="right-wrap">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- {% include /footer.html %} -->
</body>
</html>
