---
layout: default
---
  <div id="markdown" class="markdown">
    <div class="md-content">
      <header class="major">
        <div class="h1">{{ page.title }}</div>
        <div class="date-tags">
          {{ page.date | date_to_string }}
          {% include post_tags.html %}
        </div>
      </header>
      <hr noshade>
      <section class="post-content">
        {{ content }}
      </section>
      <br><br>
      <footer>
        {% if page.previous %}
        <a href="{{ page.previous.url }}" class="float-left">&larr; Previous post</a> {% endif %}
        {% if page.next %}
        <a href="{{ page.next.url }}" class="float-right">Next post &rarr;</a> {% endif %}
        <br><br>
        {% include /comments.html %}
      </footer>
    </div>
  </div>
