---
layout: default
---

  <div id="markdown" class="markdown">
    <article class="markdown-body">
      <header class="major">
        <div class="h1">{{ page.title }}</div>
        <div class="date-tags">
          {{ page.date | date_to_string }}
          {% include post_tags.html %}
        </div>
      </header>
      <!-- <hr noshade style="width: 100%; float: left;"> -->
      <section class="post-content">
        {{ content }}
      </section>
      <br><br>
      <footer>
        <section class="my-intro">
          <img src="{{ site.baseurl }}/images/itsme.png">
          <article>
            <p>뿡상</p>
            궁금하시거나 틀린 부분이 있다면 언제든 문의주세요:D
          </article>
        </section>
        <ul class="other-posts">
          {% if page.previous %}
          <li class="prev-or-next">
            <a href="{{ page.previous.url }}">
              <span class="glyphicon glyphicon-chevron-left"></span>
              {{ page.previous.title | strip_html | truncatewords: 5 }}
            </a>
          </li>
          {% endif %}
          {% if page.next %}
          <li class="prev-or-next" align="right">
            <a href="{{ page.next.url }}">
              {{ page.next.title | strip_html | truncatewords: 5 }}
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </li>
          {% endif %}
        </ul>
        {% include /comments.html %}
      </footer>
    </article>
  </div>
